.app {
  overflow: auto;
  background: #18191c;
  background: #2f3136;
  margin: none;
  padding: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  height: 100%;
  transition: background 0.17s ease, color 0.17s ease;
}

:global(.lightTheme) .app {
  background: #fff;
  color: #4f545c;
}

.banner {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.title {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  max-width: calc(90% - 100px);
  transition: color 0.17s ease;
}

:global(.lightTheme) .title {
  color: #4f545c;
}

.text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0px;
  color: hsla(0, 0%, 100%, 0.6);
  max-width: calc(90% - 100px);
  margin-bottom: 24px;
  transition: color 0.17s ease;
}

:global(.lightTheme) .text {
  color: #4f545c;
}

@media screen and (max-height: 600px) and (max-width: 400px) {
  .title {
    font-size: 24px;
    line-height: 24px;
  }

  .text {
    max-width: 90%;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 465px) {
  .text {
    max-width: calc(100% - 100px);
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.buttonTransparent {
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 16px;
  transition: background-color 0.1s ease, border-color 0.1s ease,
    color 0.1s ease;
}

.buttonTransparent:hover,
.buttonTransparent:active {
  background-color: #7289da;
  border-color: #7289da;
  color: #fff;
}

:global(.lightTheme) .buttonTransparent {
  border-color: #dcddde;
  color: #7289da;
}

:global(.lightTheme) .buttonTransparent:hover,
:global(.lightTheme) .buttonTransparent:active {
  background-color: #7289da;
  border-color: #7289da;
  color: #fff;
}

.button {
  border-radius: 3px;
  width: 250px;
  height: 45px;
  display: flex;
  flex: 1 1 auto;
  cursor: pointer;
  transform: translateY(0px);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.25, 0.315, 1.35),
    transform 0.1s linear, color 0.3s cubic-bezier(0.25, 0.25, 0.315, 1.35);
  font-size: 15px;
  font-weight: 500;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-right: 40px;
}

.button:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 1024px) {
  .buttons {
    max-width: calc(90% - 50px);
  }

  .buttons .button {
    margin-top: 16px;
  }

  .text {
    margin-bottom: 12px;
  }
}

@media screen and (max-height: 600px) and (max-width: 400px) {
  .buttons .button {
    width: 50%;
    min-width: 150px;
  }
}

@media screen and (max-width: 610px) {
  .buttons a:first-of-type {
    margin-right: 0px;
  }
}

.button:hover {
  box-shadow: none;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.4);
  transform: translateY(-1px);
}

.buttonWhite {
  background: #fff;
  color: #000;
}

:global(.lightTheme) .buttonWhite {
  border: 1px solid #4f545c;
}

.buttonPrimary {
  background: #7289da;
  color: #fff;
}

.footer {
  display: flex;
  flex: 0 0 64px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  max-width: calc(100% - 100px);
  color: hsla(0, 0%, 100%, 0.25);
  transition: color 0.17s ease;
}

:global(.lightTheme) .footer {
  color: #4f545c;
}

@media screen and (max-width: 610px) {
  .footer {
    flex-wrap: wrap;
    margin-top: 20px;
    flex: 0 0 auto;
    padding-bottom: 24px;
  }

  .footer div {
    margin-top: 5px;
  }
}

.footer div {
  margin-right: 10px;
  white-space: nowrap;
}

.footer a {
  color: hsla(0, 0%, 100%, 0.25);
  border-bottom: 1px solid transparent;
  transition: color 0.2s cubic-bezier(0.25, 0.25, 0.315, 1.35),
    border-bottom 0.2s cubic-bezier(0.25, 0.25, 0.315, 1.35);
}

:global(.lightTheme) .footer a {
  color: #4f545c;
}

.footer a:hover {
  color: hsla(0, 0%, 100%, 1);
  border-bottom: 1px solid hsla(0, 0%, 100%, 1);
}

:global(.lightTheme) .footer a:hover {
  color: #000;
  border-bottom: 1px solid hsla(0, 0%, 0%, 1);
}
