.formWrapper {
  display: flex;
  flex-direction: column;
}

.formText {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  word-wrap: break-word;
  transition: box-shadow 0.1s ease-out;
  overflow-x: hidden;
  padding: 20px 0px 20px 0px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.formTitle {
  text-align: left;
  color: #f6f6f7;
  text-transform: uppercase;
  flex: 1;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 20px;
  font-size: 16px;
  max-width: 95%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:global(.lightTheme) .formTitle {
  color: #4f545c;
}

.formSubtitle {
  max-width: 95%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #b9bbbe;
  line-height: 16px;
  font-size: 12px;
}

:global(.lightTheme) .formSubtitle {
  color: rgba(114, 118, 125, 0.6);
}

.formItemWrapper {
  width: 100%;
  /* min-width: 543px; */
}

.entry {
  display: none;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 5px;
  flex-direction: column;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.1);
  transition: background 0.17s ease;
}

:global(.lightTheme) .entry {
  background: rgba(0, 0, 0, 0.05);
}

.addNewEntry {
  cursor: pointer;
  box-sizing: border-box;
  padding: 6px 0px 6px 0px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.6);
}

:global(.lightTheme) .addNewEntry {
  color: #72767d;
}

.addNewEntry:hover {
  color: hsla(0, 0%, 100%, 1);
  text-decoration: underline;
}

:global(.lightTheme) .addNewEntry:hover {
  color: #72767d;
  text-decoration: underline;
}

.entryVisible {
  display: flex;
}

.customIconTest {
  fill: #f6f6f7;
  position: relative;
  width: 18px;
  fill-opacity: 0.3;
  transition: fill 0.17s ease, fill-opacity 0.17s ease;
}

.customIconTestBig {
  width: 18px;
}

:global(.lightTheme) .customIconTest {
  fill: #72767d;
  fill-opacity: 1;
}

.entryIconWrapper {
  /*background: #72767d;*/
  width: 24px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  height: 24px;
  border-radius: 3px;
  transition: background 0.17s ease;
}

.entryIconWrapperBig {
  width: 36px;
  height: 36px;
}

.entryIconWrapper:hover {
  background: rgba(0, 0, 0, 0.1);
}

.danger .customIconTest {
  fill: rgb(240, 71, 71);
  fill-opacity: 0.8;
}

.danger.entryIconWrapper:hover {
  background-color: rgba(240, 71, 71, 0.1);
}

.danger.entryIconWrapper:active {
  background-color: rgba(240, 71, 71, 1);
}

.danger.entryIconWrapper:active .customIconTest {
  fill: #fff;
  fill-opacity: 1;
}

.entryIconWrapper:hover .customIconTest {
  fill-opacity: 1;
}

.smallText {
  font-size: 12px;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.5);
}

:global(.lightTheme) .smallText {
  color: rgba(114, 118, 125, 0.6);
}

.infoTargetText {
  cursor: help;
}

.infoTargetText:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.formItemRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.marginBottom8 {
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .formItemRow.marginBottom8 {
    margin-bottom: none;
  }
}

.formItemRowChild {
  flex: 1;
  /*max-width: 100%;*/
  /*width: 33.333%;*/
  margin-left: 16px;
}

.entryNumber {
  top: 12px;
  margin-right: 8px;
  margin-left: 12px;
  position: relative;
}

.flex.col.flexMainAxisEnd.flexCrossAxisCenter.entryNumber {
  display: none;
}

.entryDeleteIcon {
  top: 12px;
  margin-left: 16px;
  position: relative;
}

.entryTitleRow {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.formItemRowChild .inputWrapper {
  width: 100% !important;
}

.formItemRowChild:first-child {
  margin-left: 0;
}

@media screen and (max-width: 1080px) {
  .formItemWrapper {
    width: 100%;
  }
}

.entryDeleteIcon.entryDeleteIconInline {
  display: none;
}

.entryNumberFix {
  display: none;
  width: 12px;
}

@media screen and (max-width: 768px) {
  .formItemRow {
    flex-direction: column;
  }

  .entryNumber {
    top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .flex.col.flexMainAxisEnd.flexCrossAxisCenter.entryNumber {
    display: flex;
  }

  .entryNumberFix {
    flex: 1 0 auto;
    text-align: center;
    position: relative;
    left: 18px;
  }

  .entryNumber.col {
    flex-direction: row;
  }

  .formItemRowChild {
    margin-top: 12px;
    margin-left: 0;
  }

  .entryDeleteIcon {
    flex: 0 0 auto;
    justify-content: center !important;
    align-items: center !important;
    top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .entryDeleteIcon {
    display: none !important;
  }

  .entryDeleteIconInline.entryDeleteIcon {
    display: flex !important;
  }

  .entryDeleteIcon .entryIconWrapperBig {
    width: 100%;
  }

  .entryDeleteIconInline.entryDeleteIcon .entryIconWrapperBig {
    width: 36px;
    height: 36px;
  }
}

.formBody {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 0;
  flex: 1;
  min-height: 1px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.formFieldLabel {
  color: #fff;
  text-transform: uppercase;
  flex: 1;
  font-weight: 600;
  width: 95%;
  line-height: 16px;
  font-size: 14px;
  transition: color 0.17s ease;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entryTitle {
  white-space: normal;
  text-overflow: clip;
  width: 100%;
}

.enforceSingleRow {
  display: flex;
}

:global(.lightTheme) .formFieldLabel {
  color: #72767d;
}

.formInput {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #fff;
  border-color: rgba(0, 0, 0, 0.3);
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  transition: background-color 0.15s ease, border 0.15s ease;
  width: 100%;
  font-size: 16px;
}

:global(.lightTheme) .formInput {
  background-color: rgba(79, 84, 92, 0.02);
  background-color: #fff;
  border-color: rgba(79, 84, 92, 0.3);
  color: #4f545c;
}

:global(.lightTheme) .formInput.disabled {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea.formInput {
  border-radius: 5px;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  /* padding: 10px 14px; */
  box-sizing: border-box;
  font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  color: hsla(0, 0%, 100%, 1);
}

.infoBox {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: default;
  box-sizing: border-box;
  color: #72767d;
  transition: color 0.17s ease;
}

:global(.lightTheme) .infoBox {
  color: rgba(114, 118, 125, 0.6);
}

select.formInput {
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  color: hsla(0, 0%, 100%, 1);
  appearance: none;
  background: url(../assets/arrow-down.svg) 99% / 24px no-repeat
    rgba(0, 0, 0, 0.1);
}

:global(.lightTheme) select.formInput {
  background: url(../assets/arrow-down-dark.svg) 99% / 24px no-repeat #fff;
}

.formSelect {
  cursor: pointer;
}

.formSelect option:hover {
  background-color: #25282d;
  color: #fff;
}

.formInputError {
  border-color: #f04747;
}

.formInputError:focus {
  border-color: #f04747 !important;
}

.formInputError:hover {
  border-color: #f04747 !important;
}

.formInput:hover {
  border-color: #040405;
}

.disabled.formInput:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

:global(.lightTheme) .disabled.formInput:hover {
  border-color: rgba(79, 84, 92, 0.3);
}

.formInput:focus {
  border-color: #7289da;
}

/* .formInput:disabled {
  background-color: rgba(61, 61, 61, 0.3);
  cursor: not-allowed;
} */

/* .formInput:disabled:hover {
  border-color: rgba(0, 0, 0, 0.3);
} */

.radioGroup {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.radioItem {
  flex: 1 1 100%;
  margin-bottom: 8px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-color: #202225;
  border-radius: 3px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: border-color 0.17s ease, background-color 0.17s ease;
}

.radioItem:hover {
  border-color: #040405;
}

:global(.lightTheme) .radioItem {
  border-color: rgba(79, 84, 92, 0.3);
  background-color: #fff;
}

:global(.lightTheme) .radioItem:hover {
  border-color: #040405;
}

/* .radioItem:nth-child(n) {
  margin-left: 0;
}

.radioItem:nth-child(2n) {
  margin-right: 0;
} */

.radioItemSelected {
  background-color: rgb(114, 137, 218);
  border-color: rgb(114, 137, 218);
}

.radioItem:hover.radioItemSelected {
  border-color: rgb(114, 137, 218);
}

:global(.lightTheme) .radioItemSelected {
  border-color: rgb(114, 137, 218);
  background-color: rgb(114, 137, 218);
}

:global(.lightTheme) .radioItem:hover.radioItemSelected {
  border-color: rgb(114, 137, 218);
}

.checkBoxWrapper {
  /* height: 24px; */
  user-select: none;
  flex: 0 0 auto;
  position: relative;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.radioItem .formInput {
  cursor: pointer;
  z-index: 1;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

.checkBoxCheckmarkOutline {
  width: 24px;
  height: 24px;
  border-color: #72767d;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
}

.checkBoxCheckmarkOutline.checked {
  background-color: #fff;
  border-color: rgb(114, 137, 218);
}

.checkboxCheckmark {
  display: none;
}

.checkBoxCheckmarkOutline.checked .checkboxCheckmark {
  display: block;
}

.radioContent {
  margin: 0 8px;
  color: #f6f6f7;
}

:global(.lightTheme) .radioContent {
  color: #4f545c;
}

:global(.lightTheme) .radioItemSelected .radioContent {
  color: #fff;
}

.radioContent .title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.disabled {
  background: rgba(0, 0, 0, 0.1);
  border-color: #202225;
  cursor: not-allowed;
  opacity: 0.6;
}

:global(.lightTheme) .disabled {
  background: rgba(0, 0, 0, 0.01);
}

.primaryButton {
  position: relative;
  padding: 2px 16px;
  outline: 0;
  justify-content: center;
  cursor: pointer;
  display: flex;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  align-items: center;
  transition: background-color 0.17s ease, color 0.17s ease;
  min-height: 44px;
  height: 44px;
  width: 100%;
  background-color: #7289da;
}

.formItemRowChild .primaryButton {
  min-height: 40px;
  height: 40px;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.flexCrossAxisCenter {
  align-items: center;
}

.flexCrossAxisStart {
  align-items: flex-start;
}

.flexCrossAxisCenter {
  align-items: center;
}

.flexMainAxisCenter {
  justify-content: center;
}

.flexMainAxisEnd {
  justify-content: flex-end;
}

.primaryButton .contents {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
}

.primaryButton:hover {
  background-color: #677bc4;
}

.submitting .primaryButton:hover {
  background-color: #7289da;
}

.inlineRowWithButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.divider {
  height: 1.5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: rgba(114, 118, 125, 0.6);
  margin-bottom: 6px;
  border-radius: 3px;
}

input[type='file'] {
  color: #fff;
  cursor: pointer;
}

:global(.lightTheme) input[type='file'] {
  color: #4f545c;
}

.alternationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 12px;
}

:global(.lightTheme) .alternationWrapper {
  background: rgba(0, 0, 0, 0.05);
}

.alternationRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 12px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.alternationRow:last-child {
  margin-bottom: 0;
}

.alternationRowChild {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
}

.alternationRowChild .title {
  display: inline-block;
  font-weight: 500;
  width: 80px;
  white-space: nowrap;
}

.alternationRowChild span {
  display: inline-block;
}

.alternationRowChild span:last-child {
  margin-left: 12px;
}

.alternationRowChild > div {
  margin-bottom: 4px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.alternationRowChild > div:last-child {
  margin-bottom: 0;
}

.alternationRowChild > div span:last-child {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .alternationRow {
    flex-direction: column;
  }

  .alternationRowChild {
    width: 100%;
    margin-bottom: 8px;
  }

  .alternationRowChild:last-child {
    margin-bottom: 0;
  }

  .alternationRowChild > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: normal;
  }
}

.postponeDurationRow {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.postponeDurationRow:first-child,
.postponeDurationRow:last-child {
  margin-bottom: 0;
}

.postponeDurationRow:first-child {
  margin-top: 6px;
}

.postponeDurationRow .postponeDurationRowLabel {
  flex: 0 1 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.postponeDurationRow .postponeDurationRowDateContainer {
  flex: 1 1 60%;
  margin-right: 12px;
}

.postponeDurationRow .postponeDurationRowHourContainer {
  flex: 1 1 30%;
}

.alternationStaffChoice {
  flex: 0 1 50%;
}
