.root {
  height: 100%;
  width: 100%;
  background-color: #2f3136;
  background: url('../assets/boxes-bg-dark.svg');
  background-position: fixed;
  background-size: 768px auto;
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
}

:global(.lightTheme) .root {
  background-color: #fff;
  background: url('../assets/boxes-bg-white.svg');
}

.app {
  /* height: 100%; */
}

.dummy {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
}

.banner {
  position: relative;
  flex: 1;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 48px;
}

.authbox {
  display: flex;
  background: #36393f;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #72767d;
  z-index: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 18px;
  padding: 40px;
  width: 480px;
  margin-bottom: auto;
  margin-top: auto;
  opacity: 0;
  transform: translateY(-100px) translateZ(-100px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.authbox.authboxTransitionEnd {
  opacity: 1;
  transform: none;
}

:global(.lightTheme) .authbox {
  background: #fff;
  color: #36393f;
}

.footer {
  flex: 0 0 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  box-sizing: border-box;
  color: hsla(0, 0%, 0%, 0.75);
  color: hsla(0, 0%, 100%, 0.25);
}

:global(.lightTheme) .footer {
  color: #4f545c;
}

@media screen and (max-width: 486px) {
  .root {
    background: none;
    overflow-y: hidden;
  }

  .app {
    height: 100%;
  }

  .banner {
    flex: 1 0 auto;
    margin-bottom: 0;
  }

  .authbox {
    height: 100%;
    min-height: 100% !important;
    border-radius: 0px;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    justify-content: flex-start;
    opacity: 1;
    transform: none;
    background: linear-gradient(to left bottom, #3d4046, #1e1e23);
  }

  .block {
    padding-bottom: 54px;
  }

  .footer {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .authbox {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer div {
  margin-right: 10px;
}

.footer a {
  color: hsla(0, 0%, 100%, 0.25);
  border-bottom: 1px solid transparent;
  transition: color 0.2s cubic-bezier(0.25, 0.25, 0.315, 1.35),
    border-bottom 0.2s cubic-bezier(0.25, 0.25, 0.315, 1.35);
}

:global(.lightTheme) .footer a {
  color: #4f545c;
}

.footer a:hover {
  color: hsla(0, 0%, 100%, 1);
  border-bottom: 1px solid hsla(0, 0%, 100%, 1);
}

:global(.lightTheme) .footer a:hover {
  color: #000;
  border-bottom: 1px solid hsla(0, 0%, 0%, 1);
}

.title {
  text-align: center;
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 8px;
  color: #fff;
}

:global(.lightTheme) .title {
  color: #72767d;
}

.subTitle {
  text-align: center;
  color: #72767d;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  outline: 0;
}

.block {
  text-align: left;
  width: 100%;
  margin-top: 20px;
}

.inputLabel {
  color: #b9bbbe;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: default;
  font-weight: 600;
  line-height: 16px;
  font-size: 12px;
  margin-bottom: 8px;
}

:global(.lightTheme) .inputLabel {
  color: #72767d;
}

.formInputError {
  border-color: #f04747 !important;
}

.formInputError:focus {
  border-color: #f04747 !important;
}

.formInputError:hover {
  border-color: #f04747 !important;
}

.errorLabel {
  color: #f04747 !important;
}

.errorMessage {
  font-style: italic;
  font-weight: 600;
  font-size: 12px;
  color: #f04747;
}

.inputField {
  font-size: 16px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  transition: background-color 0.15s ease, border 0.15s ease;
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3);
  color: #f6f6f7;
}

:global(.lightTheme) .inputField {
  background-color: rgba(79, 84, 92, 0.02);
  background-color: #fff;
  border-color: rgba(79, 84, 92, 0.3);
  color: #4f545c;
}

.inputField:hover {
  border-color: #040405;
}

.inputField:focus {
  border-color: #7289da;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.marginTop4 {
  margin-top: 4px;
}

.link {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 20px;
  height: auto;
  padding-left: 0;
  padding-right: 0;
  display: block;
  color: #7289da;
  cursor: pointer;
  background: none;
}

.smallLink {
  display: inline-block;
  margin-left: 2px;
  margin-bottom: 0px;
}

.link::after {
  content: '';
  position: absolute;
  bottom: 1px;
  height: 1px;
  left: 0;
  opacity: 0;
  transition: opacity 0s linear;
  background: #7289da;
  width: 100%;
}

@media screen and (max-width: 486px) {
  .link::after {
    opacity: 1;
  }
}

@media screen and (min-width: 487px) {
  .link:hover::after {
    opacity: 1;
  }

  .link:focus::after {
    opacity: 1;
  }
}

.submitButton {
  position: relative;
  padding: 2px 16px;
  outline: 0;
  justify-content: center;
  cursor: pointer;
  display: flex;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  align-items: center;
  transition: background-color 0.17s ease, color 0.17s ease;
  min-width: 130px;
  min-height: 44px;
  height: 44px;
  width: 100%;
  background-color: #7289da;
  margin-bottom: 8px;
}

.submitButton .contents {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
}

.spinner {
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  align-items: center;
}

.spinnerInner {
  display: flex;
  height: auto;
  justify-content: center;
  position: relative;
  width: 28px;
}

.pulsingEllipsisItem {
  animation: spinner-pulsing-ellipsis 1.4s infinite ease-in-out;
  background-color: #fff;
  border-radius: 3px;
  display: inline-block;
  height: 6px;
  margin-right: 2px;
  opacity: 0.3;
  width: 6px;
}

.pulsingEllipsisItem:nth-of-type(2) {
  animation-delay: 0.2s;
}

.pulsingEllipsisItem:nth-of-type(3) {
  animation-delay: 0.4s;
}

@keyframes spinner-pulsing-ellipsis {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.submitting {
  pointer-events: none;
}

.submitButton:hover,
.submitButton:focus {
  background-color: #677bc4;
}

.submitting .submitButton:hover {
  background-color: #7289da;
}

.needAccount {
  font-size: 14px;
  line-height: 16px;
  color: #72767d;
}

.logo {
  flex: 0 0 auto;
  z-index: 2;
  font-family: 'UniSans';
  font-weight: 900;
  user-select: none;
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 32px;
}

@media screen and (max-width: 486px) {
  .authbox > .logo {
    position: relative;
    display: block;
    color: #fff;
  }

  :global(.lightTheme) .authbox > .logo {
    color: #72767d;
  }

  .banner > .logo {
    display: none;
  }
}

@media screen and (min-width: 487px) {
  .authbox > .logo {
    display: none;
  }
  .banner > .logo {
    display: block;
  }
}

@media screen and (min-width: 1080px) {
  .logo {
    margin-right: 80%;
  }
}

:global(.lightTheme) .logo {
  color: #36393f;
}
