$color-discord: #7289da;
$color-heroku: #79589f;
$color-grey: #4f545c;
$color-grey-dark: #2f3136;

$color-primary: $color-discord;
$color-primary-alt: $color-grey;
$color-secondary: #b089d5;
$color-white-alt: #dcddde;
$color-white: #fff;
$color-black: #000;
$color-white-25: hsla(0, 1, 100%, 0.25);
