@import url('./assets/fonts/stylesheet.css');

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', helvetica, arial, sans-serif;
  line-height: 1;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  font-weight: 400;
}
