.marginBottom20 {
  margin-bottom: 20px;
}

.linkBlue {
  color: #00b0f4 !important;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.5s, color 0.5s;
  font-weight: 500;
}

.linkBlue:hover {
  text-decoration: underline;
}

.linkBlue:focus-within {
  text-decoration: underline;
  outline: thin dotted;
}
