.sideNav {
  background-color: #2f3136;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: background-color 0.17s ease;
}

:global(.lightTheme) .sideNav {
  background-color: #f3f3f4;
}

.sideNavWrapper {
  width: 100%;
  height: 100%;
  /* transition: width 0.25s cubic-bezier(0.4, 0, 0.2, 1); */
  transition: left 0.2s;
}

@media screen and (max-width: 768px) {
  .sideNavWrapper {
    position: fixed;
    width: 240px;
    top: 0;
    left: -240px;
    z-index: 999;
  }

  .sideNavVisible {
    left: 0;
  }
}

.menu {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.userContainer {
  align-items: center;
  background-color: rgba(32, 34, 37, 0.3);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex: 0 0 auto;
  font-size: 14px;
  font-weight: 400;
  height: 52px;
  padding: 0 10px;
  transition: background-color 0.17s ease;
}

:global(.lightTheme) .userContainer {
  background-color: rgba(185, 187, 190, 0.3);
}

.logo {
  font-family: 'UniSans';
  background-color: transparent;
  border-radius: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.06);
  font-weight: 900;
  user-select: none;
  text-align: left;
  height: 48px;
  box-sizing: border-box;
  padding: 12px 0 6px 12px;
  font-size: 24px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: color 0.17s ease;
}

:global(.lightTheme) .logo {
  color: #4f545c;
  background-color: #f3f3f4;
}

.scrollMenuWrapper {
  display: flex;
  flex: 1;
  height: 100%;
  padding-bottom: 20px;
  width: 100%;
  min-height: 1px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.scroller {
  flex: 1 1 100%;
  width: 100%;
  height: 100%;
  min-height: 1px;
  overflow-y: auto;
  padding-right: 17px;
  padding-top: 20px;
  z-index: 0;
}

.menuItem {
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 400;
  height: 40px;
  margin: 1px 0 1px 8px;
  padding: 8px;
  text-decoration: none;
  transition: color 0.17s ease;
}

.menuItem:last-child {
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-weight: 400;
  height: 40px;
  margin: 1px 0 20px 8px;
  padding: 8px;
  text-decoration: none;
}

:global(.lightTheme) .menuItem {
  color: #72767d;
}

.menuItem:hover {
  background-color: #36393f;
  color: #fff;
}

:global(.lightTheme) .menuItem:hover {
  background-color: rgba(79, 84, 92, 0.1);
  color: #4f545c;
}

.menuItemActive,
.menuItemActive:hover {
  background-color: rgba(79, 84, 92, 0.6);
  color: #fff;
}

:global(.lightTheme) .menuItemActive,
:global(.lightTheme) .menuItemActive:hover {
  background-color: #7289da;
  color: #fff;
}

.menuText {
  color: #f6f6f7;
  flex-grow: 1;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  opacity: 0.3;
  overflow: hidden;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color 0.17s ease, opacity 0.17s ease;
}

:global(.lightTheme) .menuText {
  color: #72767d;
  opacity: 1;
}

.menuItemActive .menuText,
.menuItem:hover .menuText {
  opacity: 1;
}

:global(.lightTheme) .menuItem:hover .menuText {
  color: #4f545c;
}

:global(.lightTheme) .menuItemActive .menuText {
  color: #fff;
}

:global(.lightTheme) .menuItemActive.menuItem:hover .menuText {
  color: #fff;
}

.menuItem a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.customIcon {
  color: #f6f6f7;
  position: relative;
  font-size: 18px;
  padding-right: 12px;
  padding-left: 4px;
  top: 1px;
  opacity: 0.3;
  transition: color 0.17s ease;
}

.customIconTest {
  fill: #f6f6f7;
  position: relative;
  width: 18px;
  padding-right: 12px;
  padding-left: 4px;
  fill-opacity: 0.3;
  transition: fill 0.17s ease;
}

:global(.lightTheme) .customIconTest {
  fill: #72767d;
  fill-opacity: 1;
}

:global(.lightTheme) .customIcon {
  opacity: 1;
  color: #4f545c;
}

:global(.lightTheme) .menuItemActive .customIcon {
  color: #fff;
  opacity: 1;
}

:global(.lightTheme) .menuItemActive .customIconTest {
  fill: #fff;
  fill-opacity: 1;
}

.customHeaderIcons {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.closeNavIcon {
  display: none !important;
}

.backdrop {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  opacity: 0;
  z-index: 998;
}

@media screen and (max-width: 768px) {
  .customHeaderIcons .iconWrapper {
    display: none;
  }

  .closeNavIcon {
    display: block !important;
  }
}

.logo .menuText {
  font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  padding-right: 12px;
  padding-left: 4px;
  font-weight: 500;
  font-size: 10px;
  position: relative;
  top: 3.5px;
}

.iconWrapper {
  flex: 0 0 auto;
  padding-right: 12px;
  position: relative;
  top: -2px;
}

.customHeaderIcon {
  cursor: pointer;
  color: #f6f6f7;
  font-size: 18px;
  opacity: 0.3;
  transition: color 0.17s ease;
}

.customHeaderIconTest {
  cursor: pointer;
  position: relative;
  fill: #f6f6f7;
  width: 18px;
  top: 4px;
  fill-opacity: 0.3;
  transition: fill 0.17s ease;
}

:global(.lightTheme) .customHeaderIcon {
  color: #4f545c;
  opacity: 0.75;
}

:global(.lightTheme) .customHeaderIconTest {
  fill: #4f545c;
  fill-opacity: 0.5;
}

.customHeaderIcons .iconWrapper:last-child {
  padding-right: 17px;
}

.customHeaderIcon:hover {
  opacity: 0.6;
}

.customHeaderIconTest:hover {
  fill-opacity: 0.6;
}

:global(.lightTheme) .customHeaderIcon:hover {
  opacity: 1;
}

:global(.lightTheme) .customHeaderIconTest:hover {
  fill-opacity: 1;
}

:global(.lightTheme) .menuItem:hover .customIconTest {
  fill: #4f545c;
}

.menuItemActive .customIconTest,
.menuItem:hover .customIconTest {
  fill-opacity: 1;
}

.menuItemActive .customIcon,
.menuItem:hover .customIcon {
  opacity: 1;
}

:global(.lightTheme) .menuItemActive .customIconTest {
  fill: #fff !important;
}

.menuHeader {
  color: #fff;
  cursor: default;
  display: block;
  font-size: 12px;
  font-weight: 500;
  margin-top: 0px;
  opacity: 0.3;
  overflow: hidden;
  padding: 9px 20px 9px 14px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  transition: color 0.17s ease;
}

:global(.lightTheme) .menuHeader {
  color: #b9bbbe;
  opacity: 1;
  font-weight: 800;
}

.seperator {
  background-color: transparent;
  border-radius: 0;
  height: 1px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.06);
}

.userContainer .userDetails {
  margin-right: auto;
  margin-left: 0px;
}

:global(.lightTheme) .userContainer .userDetails {
  color: #4f545c;
}

.userContainer .customIcon {
  color: #f6f6f7;
  font-size: 30px;
  opacity: 1;
  padding-left: 6px;
  position: relative;
  top: 2px;
  transition: color 0.17s ease;
}

.userContainer .customIconTest {
  fill: #f6f6f7;
  width: 30px;
  fill-opacity: 1;
  top: 2px;
  padding-left: 2px;
  position: relative;
  transition: fill 0.17s ease;
}

:global(.lightTheme) .userContainer .customIcon {
  color: #4f545c;
  opacity: 1;
}

:global(.lightTheme) .userContainer .customIconTest {
  fill: #4f545c;
  fill-opacity: 1;
}

.userContainer .userName {
  display: block;
  max-width: 128px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.userContainer .userClass {
  display: block;
  font-size: 10px;
  margin-top: 4px;
  opacity: 0.4;
}

:global(.lightTheme) .userContainer .userClass {
  opacity: 1;
}

.userContainer .userSettings {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userContainer .userSettings .customIcon {
  font-size: 16px;
  padding-right: 0px;
  padding-left: 0px;
  opacity: 0.75;
}

.userContainer .userSettings .customIconTest {
  width: 16px;
  padding-right: 0px;
  padding-left: 0px;
  fill-opacity: 0.75;
}

:global(.lightTheme) .userContainer .userSettings .customIcon {
  opacity: 1;
}

:global(.lightTheme) .userContainer .userSettings .customIconTest {
  fill-opacity: 1;
}

.iconSelector {
  cursor: pointer;
  position: relative;
  top: 1px;
  background: none;
  padding: 8px 10px;
  margin-right: 4px;
  border-radius: 3px;
}

.iconSelectorHovered,
.userSettings:hover .iconSelector {
  background: hsla(0, 0%, 0%, 0.3);
}

:global(.lightTheme) .iconSelectorHovered,
:global(.lightTheme) .userSettings:hover .iconSelector {
  background: rgba(79, 84, 92, 0.1);
}

.popouts {
  z-index: 1000;
}

.popout {
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  left: -184px;
  top: -128px;
  height: 114px;
  width: 216px;
}

.item {
  align-items: center;
  cursor: pointer;
  display: flex;
  user-select: none;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  padding: 10px 14px;
  box-sizing: border-box;
  color: hsla(0, 0%, 100%, 0.6);
  fill: hsla(0, 0%, 100%, 0.6);
  transition: color 0.17s ease, fill 0.17s ease;
}

:global(.lightTheme) .item {
  color: #4f545c;
  fill: #4f545c;
}

.settingsMenu {
  border-radius: 5px;
  overflow: hidden;
  width: 216px;
  display: none;
  background: #282b30;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1);
}

:global(.lightTheme) .settingsMenu {
  border: 1px solid hsla(0, 0%, 74.9%, 1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}

.settingsMenuVisible {
  display: block;
}

.item:hover {
  background-color: #25282d;
  color: #fff;
  fill: #fff;
}

:global(.lightTheme) .item:hover {
  background-color: rgba(79, 84, 92, 0.1);
  color: #4f545c;
  fill: #4f545c;
  opacity: 1;
  fill-opacity: 1;
}

.menuIcon {
  font-size: 16px;
  flex-shrink: 0;
  margin-right: 14px;
  opacity: 0.8;
}

.menuIconTest {
  width: 16px;
  flex-shrink: 0;
  margin-right: 12px;
  fill-opacity: 0.8;
}

.item:hover .menuIconTest {
  fill-opacity: 1;
}

:global(.lightTheme) .menuIconTest {
  fill-opacity: 0.8;
}

:global(.lightTheme) .item:hover .menuIconTest {
  fill-opacity: 1;
}

.danger {
  fill: rgb(240, 71, 71);
  color: rgba(240, 71, 71, 0.8);
  font-weight: 500;
}

:global(.lightTheme) .danger {
  color: rgb(240, 71, 71);
  fill: rgb(240, 71, 71);
  font-weight: 500;
}

.item.danger:hover {
  background-color: rgba(240, 71, 71, 0.1);
  color: rgba(240, 71, 71, 1);
  fill: rgb(240, 71, 71);
}

.item.danger:active {
  background-color: rgba(240, 71, 71, 1);
  color: #fff;
  fill: #fff;
  opacity: 1;
  fill-opacity: 1;
}

.seperator2 {
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: hsla(0, 0%, 96.1%, 0.08);
}

:global(.lightTheme) .seperator2 {
  border-bottom-color: rgba(79, 84, 92, 0.15);
}

.menuNotification {
  background-clip: padding-box;
  background-color: #f04747;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 1px 0 hsla(0, 0%, 100%, 0.15);
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  padding: 3px 6px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.menuNotificationOrange {
  background-color: rgb(250, 166, 26);
}
