.spinner {
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  position: relative;
  width: 100%;
  align-items: center;
}

.spinnerAbsolute {
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  align-items: center;
}

.spinnerRelative {
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0;
  position: relative;
  top: 0;
  width: 100%;
  align-items: center;
}

.spinnerInner {
  display: flex;
  height: auto;
  justify-content: center;
  position: relative;
  width: 28px;
}

.pulsingEllipsisItem {
  animation: spinner-pulsing-ellipsis 1.4s infinite ease-in-out;
  background-color: #fff;
  border-radius: 3px;
  display: inline-block;
  height: 6px;
  margin-right: 2px;
  opacity: 0.3;
  width: 6px;
}

.lightTheme .pulsingEllipsisItem {
  background-color: #7289da;
}

.pulsingEllipsisItem:nth-of-type(2) {
  animation-delay: 0.2s;
}

.pulsingEllipsisItem:nth-of-type(3) {
  animation-delay: 0.4s;
}

@keyframes spinner-pulsing-ellipsis {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
