@import "../../../../variables";

.app {
  overflow: auto;
  background: $color-grey-dark;
  margin: none;
  padding: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $color-white;
  height: 100%;
  transition: background 0.17s ease, color 0.17s ease;
}

:global(.lightTheme) .app {
  background: $color-white;
  color: $color-grey;
}

.banner {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.changelogButtonHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.changelogButton {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 3px;
}

.changelogButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

:global(.lightTheme) .changelogButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 486px) {
  .changelogButtonHolder {
    margin-bottom: 8px;
  }
}

.title {
  font-size: 36px;
  color: $color-white;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  max-width: calc(90% - 100px);
  transition: color 0.17s ease;
}

.titleBig {
  font-weight: 800;
  font-size: 60px;
  line-height: 54px;
  padding-bottom: 12px;
}

@media screen and (max-width: 486px) {
  .titleBig {
    font-size: 28px;
    line-height: 28px;
  }
}

:global(.lightTheme) .title {
  color: $color-grey;
}

.text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0px;
  color: hsla(0, 0%, 100%, 0.6);
  max-width: calc(90% - 100px);
  margin-bottom: 24px;
  transition: color 0.17s ease;
}

:global(.lightTheme) .text {
  color: $color-grey;
}

@media screen and (max-height: 600px) and (max-width: 400px) {
  .title {
    font-size: 24px;
    line-height: 24px;
  }

  .text {
    max-width: 90%;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 465px) {
  .text {
    max-width: calc(100% - 100px);
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.buttons button:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 1024px) {
  .buttons {
    max-width: calc(90% - 50px);
  }

  .buttons button {
    margin-top: 16px;
  }

  .text {
    margin-bottom: 12px;
  }
}

@media screen and (max-height: 600px) and (max-width: 400px) {
  .buttons button {
    width: 85%;
    min-width: 200px;
  }
}

@media screen and (max-width: 610px) {
  .buttons a:first-of-type {
    margin-right: 0px;
  }
}

.footer {
  display: flex;
  flex: 0 0 64px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  max-width: calc(100% - 100px);
  color: $color-white-25;
  transition: color 0.17s ease;
}

:global(.lightTheme) .footer {
  color: $color-grey;
}

@media screen and (max-width: 610px) {
  .footer {
    flex-wrap: wrap;
    margin-top: 20px;
    flex: 0 0 auto;
    padding-bottom: 24px;
  }

  .footer div {
    margin-top: 5px;
  }
}

.footer div {
  margin-right: 10px;
  white-space: nowrap;
}

.footer a {
  color: $color-white-25;
  border-bottom: 1px solid transparent;
  transition: color 0.2s cubic-bezier(0.25, 0.25, 0.315, 1.35),
    border-bottom 0.2s cubic-bezier(0.25, 0.25, 0.315, 1.35);
}

:global(.lightTheme) .footer a {
  color: $color-grey;
}

.footer a:hover {
  color: $color-white;
  border-bottom: 1px solid $color-white;
}

:global(.lightTheme) .footer a:hover {
  color: $color-black;
  border-bottom: 1px solid $color-black;
}

.loadingEllipsis {
  display: inline-block;
}

.loadingEllipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: loadingEllipsis steps(4, end) 900ms infinite;
  content: "\2026";
  width: 0px;
}

@keyframes loadingEllipsis {
  to {
    width: 1em;
  }
}

.forceFullDash {
  margin: -12px -20px;
  height: 100%;
  background: transparent !important;
}

.errorIllustration {
  width: 350px;
  margin-bottom: 32px;
}

@media screen and (max-width: 486px) {
  .errorIllustration {
    width: 256px;
  }
}
