.iconBadge {
  bottom: -2px;
  pointer-events: none;
  position: absolute;
  right: -2px;
}

.iconBadgeWrapper {
  background-clip: padding-box;
  background-color: #f04747;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 1px 0 hsla(0, 0%, 100%, 0.15);
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  padding: 3px 3px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
