.sideNavWrapper {
  width: 100%;
  height: 100%;
  /* transition: width 0.25s cubic-bezier(0.4, 0, 0.2, 1); */
  transition: left 0.1s linear;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .sideNavWrapper {
    position: fixed;
    width: 240px;
    top: 0;
    left: -240px;
    z-index: 999;
  }

  .sideNavVisible {
    left: 0;
  }
}

.sideNav {
  background-color: #2f3136;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: background-color 0.17s ease;
}

:global(.lightTheme) .sideNav {
  background-color: #f3f3f4;
}

.topContainer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.topBar {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border-radius: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  padding: 12px 0 6px 12px;
}

.logo {
  font-family: 'UniSans', sans-serif;
  font-weight: 900;
  user-select: none;
  text-align: left;
  font-size: 24px;
  color: #fff;
  transition: color 0.17s ease;
}

:global(.lightTheme) .logo {
  color: #4f545c;
}

:global(.lightTheme) .topBar {
  background-color: #f3f3f4;
}

.version {
  color: rgba(255, 255, 255, 0.5);
  padding-right: 12px;
  padding-left: 4px;
  font-weight: 600;
  font-size: 10px;
  position: relative;
  top: 3.5px;
}

:global(.lightTheme) .version {
  color: #4f545c;
}

.topBarIcons {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.topBarIcon {
  position: relative;
  cursor: pointer;
  fill: #f6f6f7;
  width: 18px;
  top: 4px;
  fill-opacity: 0.3;
  transition: fill 0.17s ease;
}

:global(.lightTheme) .topBarIcon {
  fill: #4f545c;
  fill-opacity: 0.5;
}

.topBarIcon:hover {
  fill-opacity: 0.6;
}

:global(.lightTheme) .topBarIcon:hover {
  fill-opacity: 1;
}

.topBarIconWrapper {
  flex: 0 0 auto;
  padding-right: 12px;
  position: relative;
  top: -2px;
}

.topBarIcons .topBarIconWrapper:last-child {
  padding-right: 17px;
}

.mobileVisible {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .topBarIcons .topBarIconWrapper {
    display: none;
  }

  .mobileVisible {
    display: block !important;
  }
}

.scrollMenuWrapper {
  display: flex;
  flex: 1;
  height: 100%;
  padding-bottom: 20px;
  width: 100%;
  min-height: 1px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.scroller {
  flex: 1 1 100%;
  width: 100%;
  height: 100%;
  min-height: 1px;
  overflow-y: auto;
  padding-right: 17px;
  padding-top: 20px;
  z-index: 0;
}

.userContainer {
  align-items: center;
  background-color: rgba(32, 34, 37, 0.3);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex: 0 0 auto;
  font-size: 14px;
  font-weight: 400;
  height: 52px;
  padding: 0 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  transition: background-color 0.17s ease;
}

:global(.lightTheme) .userContainer {
  border-top: 1px solid rgba(114, 118, 125, 0.3);
  background-color: rgba(185, 187, 190, 0.3);
}

.userContainer .userDetails {
  margin-right: auto;
  margin-left: 6px;
}

:global(.lightTheme) .userContainer .userDetails {
  color: #4f545c;
}

.userContainer .userName {
  display: block;
  max-width: 128px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.userContainer .userClass {
  display: block;
  font-size: 10px;
  font-weight: 500;
  margin-top: 4px;
  opacity: 0.75;
}

:global(.lightTheme) .userContainer .userClass {
  opacity: 1;
}

.userContainer .userSettings {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userContainer .userSettings .customIcon {
  font-size: 16px;
  padding-right: 0px;
  padding-left: 0px;
  opacity: 0.75;
}

.userContainer .userSettings .customIconTest {
  width: 16px;
  padding-right: 0px;
  padding-left: 0px;
  fill-opacity: 0.75;
}

:global(.lightTheme) .userContainer .userSettings .customIcon {
  opacity: 1;
}

:global(.lightTheme) .userContainer .userSettings .customIconTest {
  fill-opacity: 1;
}

.iconSelector {
  cursor: pointer;
  position: relative;
  top: 1px;
  background: none;
  padding: 8px 10px;
  border-radius: 3px;
}

.iconSelectorHovered,
.userSettings:hover .iconSelector {
  background: hsla(0, 0%, 0%, 0.3);
}

:global(.lightTheme) .iconSelectorHovered,
:global(.lightTheme) .userSettings:hover .iconSelector {
  background: rgba(79, 84, 92, 0.1);
}

.userContainer .customIconTest {
  fill: #f6f6f7;
  width: 30px;
  fill-opacity: 1;
  top: 2px;
  padding-left: 2px;
  position: relative;
  transition: fill 0.17s ease;
}

:global(.lightTheme) .userContainer .customIconTest {
  fill: #4f545c;
  fill-opacity: 1;
}

.menuItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 400;
  height: 40px;
  margin: 2px 0px 2px 12px;
  padding: 8px;
  text-decoration: none;
}

.menuItem:last-child {
  margin-bottom: 18px;
}

.menuItem:hover {
  background-color: #36393f;
}

:global(.lightTheme) .menuItem:hover {
  background-color: rgba(79, 84, 92, 0.1);
}

.menuItemActive,
.menuItemActive:hover {
  background-color: #7289da !important;
}

:global(.lightTheme) .menuItemActive,
:global(.lightTheme) .menuItemActive:hover {
  background-color: #7289da !important;
}

.menuText {
  display: inline-block;
  color: #b9bbbe;
  flex-grow: 1;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:global(.lightTheme) .menuText {
  color: #72767d;
}

.menuItemActive .menuText,
.menuItem:hover .menuText {
  color: #fff;
}

:global(.lightTheme) .menuItem:hover .menuText {
  color: #4f545c;
}

:global(.lightTheme) .menuItemActive .menuText {
  color: #fff !important;
}

.menuItem .customIconTest {
  fill: #b9bbbe;
  position: relative;
  width: 18px;
  padding-right: 12px;
  padding-left: 4px;
}

.menuItemActive .customIconTest,
.menuItem:hover .customIconTest {
  fill: #fff;
}

:global(.lightTheme) .menuItem .customIconTest {
  fill: #72767d;
}

:global(.lightTheme) .menuItem:hover .customIconTest {
  fill: #4f545c;
}

:global(.lightTheme) .menuItemActive .customIconTest {
  fill: #fff !important;
  fill-opacity: 1 !important;
}

.menuHeader {
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  box-sizing: border-box;
  color: #72767d;
  padding: 6px 10px 4px 10px;
  margin-top: 4px;
  margin-left: 14px;
}

.menuHeader:first-child {
  padding-top: 0;
}

:global(.lightTheme) .menuHeader {
  color: #b9bbbe;
  opacity: 1;
}

.seperator {
  background-color: rgba(114, 118, 125, 0.3);
  display: block;
  width: 85%;
  border-radius: 0;
  box-sizing: border-box;
  height: 1px;
  margin-left: 22px;
}

:global(.lightTheme) .seperator {
  background-color: rgba(185, 187, 190, 0.3);
}

.menuNotification {
  background-clip: padding-box;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 1px 0 hsla(0, 0%, 100%, 0.15);
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  padding: 3px 6px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.menuNotificationOrange {
  background-color: rgb(250, 166, 26);
}

.menuNotificationRed {
  background-color: #f04747;
}
