@font-face {
  font-family: 'Whitney';
  src: url('/assets/fonts/Whitney-Medium.woff2') format('woff2'),
    url('/assets/fonts/Whitney-MediumItalic.woff') format('woff'),
    url('/assets/fonts/Whitney-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Whitney';
  src: url('/assets/fonts/Whitney-Medium.woff2') format('woff2'),
    url('/assets/fonts/Whitney-Medium.woff') format('woff'),
    url('/assets/fonts/Whitney-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('/assets/fonts/Whitney-SemiboldItalic.woff2') format('woff2'),
    url('/assets/fonts/Whitney-SemiboldItalic.woff') format('woff'),
    url('/assets/fonts/Whitney-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Whitney';
  src: url('/assets/fonts/Whitney-Semibold.woff2') format('woff2'),
    url('/assets/fonts/Whitney-Semibold.woff') format('woff'),
    url('/assets/fonts/Whitney-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('/assets/fonts/Whitney-BookItalic.woff2') format('woff2'),
    url('/assets/fonts/Whitney-BookItalic.woff') format('woff'),
    url('/assets/fonts/Whitney-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Whitney';
  src: url('/assets/fonts/Whitney-Book.woff2') format('woff2'),
    url('/assets/fonts/Whitney-Book.woff') format('woff'),
    url('/assets/fonts/Whitney-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('/assets/fonts/Whitney-BoldItalic.woff2') format('woff2'),
    url('/assets/fonts/Whitney-BoldItalic.woff') format('woff'),
    url('/assets/fonts/Whitney-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Whitney';
  src: url('/assets/fonts/Whitney-Bold.woff2') format('woff2'),
    url('/assets/fonts/Whitney-Bold.woff') format('woff'),
    url('/assets/fonts/Whitney-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('/assets/fonts/Whitney-Light.woff2') format('woff2'),
    url('/assets/fonts/Whitney-Light.woff') format('woff'),
    url('/assets/fonts/Whitney-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('/assets/fonts/Whitney-LightItalic.woff2') format('woff2'),
    url('/assets/fonts/Whitney-LightItalic.woff') format('woff'),
    url('/assets/fonts/Whitney-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'UniSans';
  src: url('/assets/fonts/Uni-Sans-Heavy.woff2') format('woff2'),
    url('/assets/fonts/Uni-Sans-Heavy.woff') format('woff'),
    url('/assets/fonts/Uni-Sans-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Domus';
  src: url('/assets/fonts/fonts2/Domus.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Domus';
  src: url('/assets/fonts/fonts2/Domus\ Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Domus';
  src: url('/assets/fonts/fonts2/Domus\ Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
