.dashMount {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
}

.sideNavWrapper {
  flex: 0 0 240px;
  width: 240px;
}

.mainWrapper {
  flex: 1;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .sideNavWrapper {
    width: 0;
    flex: none;
  }

  .sideNavVisible {
    position: fixed;
    z-index: 1001;
    flex: none;
    width: 240px !important;
  }

  .mainWrapper {
    flex: none;
    width: 100%;
  }
}

.sideNavToggle {
  padding-top: 3px !important;
  margin-right: 8px;
  height: 22px;
}

@media screen and (min-width: 769px) {
  .sideNavToggle {
    display: none;
  }
}

.backdrop {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  opacity: 0;
  z-index: 1000;
}

.topBarWrapper {
  flex: 0 0 auto;
  position: relative;
  z-index: 100;
  width: 100%;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  height: 48px;
  padding: 0 16px 0 16px;
  background: #36393f;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.06);
  flex: 0 0 auto;
  transition: background 0.17s ease;
  transition: background-color 0.17s ease;
}

:global(.lightTheme) .topBar {
  background: #fff;
}

.pageTitle {
  color: #fff;
  font-weight: 600;
  line-height: 22px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 4px;
  transition: color 0.17s ease;
}

:global(.lightTheme) .pageTitle {
  color: #4f545c;
}

.headerIcons {
  padding-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.iconWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 26px;
  height: 24px;
  margin: 0 4px;
}

.topBar .customHeaderIcon {
  width: 22px;
  cursor: pointer;
  fill: #f6f6f7;
  fill-opacity: 0.75;
  transition: fill 0.17s ease, fill-opacity 0.17s ease;
}

:global(.lightTheme) .topBar .customHeaderIcon {
  fill: #4f545c;
}

.topBar .customHeaderIcon:hover {
  fill-opacity: 1;
}

.main {
  background-color: #2f3136;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

:global(.lightTheme) .main {
  color: #4f545c;
}
