.table {
  border: none;
  overflow-x: auto;
}

.thead .headerRow {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: stretch;
  border-bottom: 1px solid rgba(114, 118, 125, 0.3);
}

.columnTitle {
  color: hsla(0, 0%, 100%, 0.5);
  position: relative;
  padding: 8px 0px;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 18px;
}

.columnTitle:not(:last-of-type)::after {
  content: '';
  position: absolute;
  right: 0;
  height: 24px;
  border-right: 1px solid rgba(114, 118, 125, 0.3);
}

.columnTitle:last-child {
  border-right: 0;
}

:global(.lightTheme) .columnTitle {
  color: #99aab5;
}

.columnFilter {
  font-size: 12px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  transition: background-color 0.17s ease, border 0.17s ease;
  width: 100%;
  height: 24px;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3);
  color: #f6f6f7;
}

:global(.lightTheme) .columnFilter {
  background-color: rgba(79, 84, 92, 0.02);
  background-color: #fff;
  border-color: rgba(79, 84, 92, 0.3);
  color: #4f545c;
}

.columnFilter:hover {
  border-color: #040405;
}

.columnFilter:focus {
  border-color: #7289da;
}

.headerRow {
  /* min-height: 30px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
}

.columnData {
  position: relative;
  min-height: 48px;
  padding: 8px 0px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.columnData:not(:last-of-type)::after {
  content: '';
  position: absolute;
  right: 0;
  height: 24px;
  border-right: 1px solid rgba(114, 118, 125, 0.3);
}

:global(.lightTheme) .columnData {
  color: #4f545c;
}

.columnData:last-child {
  border-right: 0;
}

.trGroup {
  border-bottom: 1px solid rgba(114, 118, 125, 0.3);
}

.trGroup:last-child {
  border-bottom: 0;
}

.trGroup.hoverable:hover {
  background: rgba(153, 170, 181, 0.2);
  border-color: transparent;
  border-radius: 3px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  padding: 3px;
  border-top: 1px solid rgba(114, 118, 125, 0.3);
}

@media screen and (max-width: 486px) {
  .pagination {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .fullWidthMobile {
    width: 100% !important;
  }

  .pagination > div {
    margin-bottom: 8px;
  }

  .pagination > div:last-child {
    margin-bottom: 0;
  }
}

.pagination > div {
  flex: 0 1 0;
}

.centerPageJump {
  flex: 1.5 !important;
  text-align: center;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.centerPageInfo {
  display: flex;
  margin: 3px 10px;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  color: #f6f6f7;
}

:global(.lightTheme) .centerPageInfo {
  color: #4f545c;
}
